/* DEMOSCREEN Stylesheet */
/* Purple: #7E2B97 */

#page {
  background: #fff;
}

.atrium-welcome-links a:hover, .atrium-welcome-links a:focus, .dropdown-blocks .block-toggle ul.links li a:hover, .dropdown-blocks .block-toggle ul.links li a:focus, .dropdown-blocks .block-toggle .item-list li a:hover, .dropdown-blocks .block-toggle .item-list li a:focus, .pager li.pager-current, .more-link a:hover, #navigation {
  background-color: #7E2B97 !important;
}

#navigation a.logo {
  background-image: url("images/sprite_skin.png") !important;
  width: 120px;
}
